<script src="https://kit.fontawesome.com/095e7acecf.js" crossorigin="anonymous"></script>

<body>
    <div class="sidebar">
        <ul class="sidebar_items">
            <li class="item ham">
                </li>
            <li class="item">
                <span class="nombres">Loan Request</span>
            </li>
            <li class="item">
                <span class="nombres">Credit-Crad Request</span>
            </li>
            <li class="item">
                <span class="nombres">checkbook-request</span>
            </li>
        </ul>
        <ul class="logout">
            <li class="item">
                <a href="home">
                <span class="nombres">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</body>